/* css[漸層背景] */
            body {
            background-image: linear-gradient(to left, rgba(0, 136, 255, 0.8), rgb(0, 238, 255));
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            }
/* css[隱形文字] */
            .invisible-text {
              max-width: 500px;
              font-weight: bold;
              background: -webkit-linear-gradient(
                rgba(0, 195, 255, 0.8) ,
                rgb(0, 238, 255) ,
              );
              -webkit-text-fill-color: transparent;
            }
/* css[置中文字] */
            .center-text {
              text-align: center;
            }
/* css[標題文字] */
            .title {
              font-size: 70px; /* 可以根據需要調整大小 */
              margin-top: 25px;
              margin-bottom: 0px;
              
            }