/* css[漸層背景] */
body {
    background-image: linear-gradient(to left, rgba(0, 136, 255, 0.8), rgb(0, 238, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    }