/* css[平滑滾動] */
html {
  scroll-behavior: smooth;
}
/* css[漸層背景] */
body {
  background-image: linear-gradient(to left, rgba(0, 136, 255, 0.8), rgb(0, 238, 255));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  }
/* css[隱形文字] */
  .invisible-text {
    font-weight: bold;
    background: -webkit-linear-gradient(
      rgba(0, 195, 255, 0.8) ,
      rgb(0, 238, 255) ,
    );
    -webkit-text-fill-color: transparent;
  }
/* css[置中文字] */
  .center-text {
    text-align: center;
  }
/* css[標題文字] */
  .title {
    font-size: 70px; /* 可以根據需要調整大小 */
    margin-top: 25px;
    margin-bottom: 0px;

  }
/* css[左側標籤] */
    #left-tag a {
      position: fixed;
      left: -95px;
      transition: 0.3s;
      padding: 15px;
      width: 120px;
      text-decoration: none;
      font-size: 20px;
      color: white;
      border-radius: 0 5px 5px 0;
    }
/* css[左側標籤(當鼠標在上面時)] */
    #left-tag a:hover {
      left: 0;
    }
/* css[左側標籤(關於我們)] */
    #about {
      top: 30px;
      background-color: #555;
    }
/* css[左側標籤(簡介)] */
    #intro {
      top: 95px;
      background-color: #2196F3;
    }
/* css[左側標籤(主內容)] */
    #content {
      top: 160px;
      background-color: #12c767;
    }
/* css[左側標籤(備註)] */
#note {
  top: 225px;
  background-color: #2e5ab2
}
/* 掉落式按鈕 */
.dropdownbotton {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 200px; /* 設定按鈕的固定寬度 */
}

/* 調整掉落式按鈕選項的位置 */
.dropdown {
  position: relative;
  display: inline-block;
}

/* 掉落式按鈕置中 */
.dropdowncenter {
  display: flex;
  justify-content: center;
}

/* 掉落式按鈕選項 */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%; /* 選項寬度與按鈕一致 */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 0; /* 選單與按鈕左對齊 */
}

/* 掉落式按鈕裡的連結 */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* 改變鼠標在連結上時連結的顏色 */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* 顯示掉落式按鈕選單 */
.dropdown:hover .dropdown-content,
.dropdown-content:hover {
  display: block;
}

/* 顯示掉落式按鈕之內容時變更下拉式按鈕內容之顏色 */
.dropdown:hover .dropdownbotton {
  background-color: #484545;
}

/* 歡迎訊息 */
#welcome-message {
  margin-bottom: 10px;
  font-size: 30px;
}

/* 登入 */
#login-count {
  margin: 10px 0;
  font-size: 30px;
}
#total-visited {
  position: fixed;
  top: 0px;
  right: 70px;
  font-size: 28px;
}